/* fonts */
@font-face {
  font-family: 'Pfdindisplaypro-reg';
  src: url('../fonts/pfdindisplaypro-reg.eot');
  src: local('☺'), url('../fonts/pfdindisplaypro-reg.woff') format('woff'), url('../fonts/pfdindisplaypro-reg.ttf') format('truetype'), url('../fonts/pfdindisplaypro-reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pfdindisplaypro-reg';
  src: url('../fonts/pfdindisplaypro-bold.eot');
  src: local('☺'), url('../fonts/pfdindisplaypro-bold.woff') format('woff'), url('../fonts/pfdindisplaypro-bold.ttf') format('truetype'), url('../fonts/pfdindisplaypro-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Pfdindisplaypro-light';
  src: url('../fonts/pfdindisplaypro-light.eot');
  src: local('☺'), url('../fonts/pfdindisplaypro-light.woff') format('woff'), url('../fonts/pfdindisplaypro-light.ttf') format('truetype'), url('../fonts/pfdindisplaypro-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pfdindisplaypro-thin';
  src: url('../fonts/pfdindisplaypro-thin.eot');
  src: local('☺'), url('../fonts/pfdindisplaypro-thin.woff') format('woff'), url('../fonts/pfdindisplaypro-thin.ttf') format('truetype'), url('../fonts/pfdindisplaypro-thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pfdindisplaypro-med';
  src: url('../fonts/pfdindisplaypro-med.eot');
  src: local('☺'), url('../fonts/pfdindisplaypro-med.woff') format('woff'), url('../fonts/pfdindisplaypro-med.ttf') format('truetype'), url('../fonts/pfdindisplaypro-med.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* text */
a,
span,
p,
li {
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
h2 {
  display: block;
  color: #ca0000;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
}
h2 small {
  display: block;
  color: #000000;
  font-family: 'Pfdindisplaypro-med', sans-serif;
  font-weight: normal;
  font-size: 28px;
  padding-top: 2px;
}
h3 {
  display: block;
  color: #ca0000;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
}
/* universal */
@media (max-width: 1190px) {
  html,
  body {
    min-width: 980px;
  }
}
.hidden-block {
  display: none;
}
.page-wrap {
  overflow: hidden;
  min-width: 1110px;
}
@media (max-width: 1190px) {
  .page-wrap {
    min-width: 980px;
  }
}
.width-wrap {
  width: 1110px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 1190px) {
  .width-wrap {
    width: 940px;
    padding: 0 20px;
  }
}
.btn {
  background: transparent;
  color: #ca0000;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 12px 0 13px;
  cursor: pointer;
  border: 3px solid #ca0000;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn:hover {
  color: #ffffff;
  background: #ca0000;
}
.btn-white {
  background: #ffffff;
  color: #ca0000;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 12px 0 13px;
  cursor: pointer;
  border: 3px solid #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.main-form {
  position: absolute;
  z-index: 5;
  top: 107px;
  left: 50%;
  margin-left: 203px;
  border: 6px solid #ffffff;
  padding: 15px 25px;
  width: 287px;
  background: #ebe4e4;
}
@media (max-width: 1190px) {
  .main-form {
    left: auto;
    margin-left: 0;
    right: 20px;
  }
}
.main-form h3 {
  text-align: center;
}
.main-form span {
  display: block;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  font-size: 15px;
  padding: 2px 0 15px;
  margin-bottom: 10px;
}
.main-form .form-input {
  padding-left: 54px;
  width: 233px;
  border: 2px solid transparent;
  border-bottom: 2px solid #ca0000;
  height: 42px;
  line-height: 42px;
  font-size: 15px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  color: #000000;
  outline: none;
  margin-bottom: 23px;
}
.main-form .form-input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  color: #000000;
}
.main-form .form-input::-moz-placeholder {
  font-size: 15px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  color: #000000;
}
.main-form .form-input:-moz-placeholder {
  font-size: 15px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  color: #000000;
}
.main-form .form-input:-ms-input-placeholder {
  font-size: 15px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  color: #000000;
}
.main-form .form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.main-form .form-input:focus::-moz-placeholder {
  color: transparent;
}
.main-form .form-input:focus:-moz-placeholder {
  color: transparent;
}
.main-form .form-input:focus:-ms-input-placeholder {
  color: transparent;
}
.main-form .input-type {
  background: transparent url("../img/icon--jew.png") no-repeat 13px 50%;
}
.main-form .input-name {
  background: transparent url("../img/icon--name.png") no-repeat 13px 50%;
}
.main-form .input-phone {
  background: transparent url("../img/icon--phone.png") no-repeat 13px 50%;
}
.main-form .btn {
  margin-top: 6px;
}
/* variable */
/* nav */
.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-width: 1110px;
  background: #ffffff;
  z-index: 10;
}
@media (max-width: 1190px) {
  .nav {
    min-width: 980px;
  }
}
.nav .main-nav li {
  display: inline-block;
  vertical-align: top;
}
.nav .main-nav li a {
  display: block;
  height: 47px;
  line-height: 47px;
  font-family: "Times New Roman", "Times", "Nimbus Roman No9", serif;
  font-size: 13px;
  color: #a4a1a1;
  text-transform: uppercase;
}
.nav .main-nav li a.active {
  color: #ca0000;
}
/* header */
.header {
  background: url("../img/bg--header.jpg") no-repeat 50% 50%;
  padding: 7px 0;
  margin-top: 47px;
}
.header .width-wrap {
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}
.header .width-wrap div {
  width: 350px;
}
.header .width-wrap div,
.header .width-wrap img {
  display: inline-block;
}
.header .width-wrap div a,
.header .width-wrap img a,
.header .width-wrap div span,
.header .width-wrap img span,
.header .width-wrap div div,
.header .width-wrap img div {
  display: block;
  color: #ffffff;
  font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
  font-size: 22px;
  line-height: 24px;
}
.header .width-wrap .header--phone a {
  font-size: 24px;
  display: inline-block;
}
.header .width-wrap .header--adress {
  text-align: right;
}
/* slider */
.slider {
  position: relative;
  height: 590px;
}
.slider .slider-block {
  height: 590px;
  width: 100%;
}
.slider .slider-block .slider__el {
  height: 590px;
  background-size: cover !important;
}
.slider .slider-block .slider__el .width-wrap {
  padding-top: 138px;
}
.slider .slider-block .slider__el .width-wrap h2 {
  line-height: 40px;
}
.slider .slider-block .slider__el .width-wrap span {
  display: block;
  margin-bottom: 30px;
  font-family: 'Pfdindisplaypro-med', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 30px;
}
.slider .slider-block .slider__el .width-wrap p {
  display: block;
  font-family: 'Pfdindisplaypro-thin', sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}
.slider .slider-block .slider__el .width-wrap ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
.slider .slider-block .slider__el .width-wrap ul li {
  display: block;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.slider .slider-block .slider__el .width-wrap ul li strong {
  color: #ca0000;
}
.slider .slider-block .slider__el .width-wrap ul.red li {
  color: #ca0000 !important;
  font-weight: normal;
}
.slider .slider-block .slider__el .width-wrap ul.red li strong {
  font-weight: bold;
}
.slider .slider-block .owl-nav {
  position: absolute;
  bottom: 139px;
  left: 50%;
  margin-left: -555px;
  z-index: 5;
}
.slider .slider-block .owl-nav div {
  display: inline-block;
  margin-right: 22px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #ca0000;
  cursor: pointer;
}
.slider .slider-block .owl-nav .owl-prev {
  background: url("../img/icon--left.png") no-repeat 9px 50%;
}
.slider .slider-block .owl-nav .owl-next {
  background: url("../img/icon--right.png") no-repeat 13px 50%;
}
.slider .slider-block .owl-dots {
  position: absolute;
  bottom: 156px;
  left: 50%;
  margin-left: -320px;
  white-space: nowrap;
  z-index: 5;
}
.slider .slider-block .owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 0 10px;
  background: #ffffff;
  cursor: pointer;
}
.slider .slider-block .owl-dots .owl-dot.active {
  background: #ca0000;
}
.slider .slider-counter {
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -405px;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Pfdindisplaypro-med', sans-serif;
  z-index: 5;
}
/* tabs */
.tabs {
  position: relative;
}
.tabs .tabs__caption {
  position: absolute;
  left: 50%;
  width: 1110px;
  margin-left: -555px;
  top: 59px;
  display: table;
  border-radius: 15px;
  z-index: 5;
}
@media (max-width: 1190px) {
  .tabs .tabs__caption {
    width: 100%;
    left: 10px;
    right: 10px;
    margin-left: 0;
  }
}
.tabs .tabs__caption li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid #ffffff;
  background: #eeeeee;
  color: #ca0000;
  height: 38px;
  cursor: pointer;
  min-width: 70px;
  font-size: 14px;
  font-family: "Times New Roman", "Times", "Nimbus Roman No9", serif;
  text-transform: uppercase;
  padding-top: 1px;
}
.tabs .tabs__caption li:first-child {
  border-radius: 20px 0 0 20px;
}
.tabs .tabs__caption li:last-child {
  border-radius: 0 20px 20px 0;
  border-right: none;
}
.tabs .tabs__caption li.active {
  background: #ca0000;
  color: #ffffff;
}
.tabs .tabs__content {
  position: absolute;
  left: -9999999px;
}
.tabs .tabs__content.active {
  position: relative;
  left: 0;
}
.tabs .tabs__content.active .tabs__content-content {
  padding-top: 187px;
  padding-bottom: 90px;
  background-size: cover !important;
}
.tabs .tabs__content.active .tabs__content-content .main-form {
  border-color: #eeeeee;
  background: #ffffff;
  position: relative;
  margin-left: 0;
  left: auto;
  display: inline-block;
  vertical-align: top;
  top: auto;
}
.tabs .tabs__content.active .tabs__content-content .main-form h3 {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 22px;
}
.tabs .tabs__content.active .tabs__content-content .text {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  padding-top: 62px;
}
.tabs .tabs__content.active .tabs__content-content .text h2 {
  padding-bottom: 34px;
}
.tabs .tabs__content.active .tabs__content-content .text p {
  font-family: 'Pfdindisplaypro-thin', sans-serif;
  font-size: 26px;
  line-height: 28px;
}
.tabs .tabs__content.active .tabs__content-content .text span.old-price,
.tabs .tabs__content.active .tabs__content-content .text span.new-price {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-right: 5px;
  line-height: 36px;
}
.tabs .tabs__content.active .tabs__content-content .text span.old-price {
  font-size: 28px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  text-decoration: line-through;
}
.tabs .tabs__content.active .tabs__content-content .text span.new-price {
  color: #ca0000;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  font-size: 34px;
}
.tabs .tabs__content.active .tabs__content-banner {
  padding: 108px 0 115px;
}
.tabs .tabs__content.active .tabs__content-banner .text {
  display: inline-block;
  vertical-align: top;
  width: 665px;
}
.tabs .tabs__content.active .tabs__content-banner .text span {
  display: block;
  margin-bottom: 33px;
  color: #ffffff;
  font-size: 34px;
  line-height: 28px;
  font-family: 'Pfdindisplaypro-light', sans-serif;
}
.tabs .tabs__content.active .tabs__content-banner .text span strong {
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  font-size: 34px;
}
.tabs .tabs__content.active .tabs__content-banner .text span:last-child {
  margin-bottom: 0;
}
.tabs .tabs__content.active .tabs__content-banner .text ul {
  display: block;
}
.tabs .tabs__content.active .tabs__content-banner .text ul li {
  display: block;
  padding-left: 60px;
  color: #ffffff;
  font-size: 30px;
  line-height: 28px;
  font-family: 'Pfdindisplaypro-light', sans-serif;
  margin-bottom: 30px;
  position: relative;
}
.tabs .tabs__content.active .tabs__content-banner .text ul li:before {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background: #ffffff;
  text-align: center;
  line-height: 38px;
  content: "+";
  color: #ca0000;
  font-size: 40px;
  left: 0;
  top: 50%;
  margin-top: -21px;
}
.tabs .tabs__content.active .tabs__content-banner .btn-wrap {
  display: inline-block;
  vertical-align: top;
  width: 285px;
  margin-right: 95px;
}
.tabs .tabs__content.active .tabs__content-slider {
  background: #eeeeee;
  padding: 60px 0;
}
.tabs .tabs__content.active .tabs__content-slider .tab-slider__el {
  width: 225px;
  display: block;
  height: 335px;
  background: #ffffff;
  text-align: center;
  position: relative;
  padding: 15px;
}
.tabs .tabs__content.active .tabs__content-slider .tab-slider__el .tab-slider__el-article {
  display: block;
  text-align: center;
  font-family: 'Pfdindisplaypro-light', sans-serif;
  font-size: 20px;
  color: #e2d6d6;
}
.tabs .tabs__content.active .tabs__content-slider .tab-slider__el img {
  position: absolute;
  width: 50%;
  top: 22%;
  left: 50%;
  margin-left: -25%;
  display: block;
  z-index: 3;
}
.tabs .tabs__content.active .tabs__content-slider .tab-slider__el .tab-slider__el-title {
  margin-top: 188px;
  display: block;
  text-align: center;
  font-family: 'Pfdindisplaypro-thin', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 7px;
  min-height: 42px;
  position: relative;
  z-index: 5;
}
.tabs .tabs__content.active .tabs__content-slider .tab-slider__el .tab-slider__el-price {
  display: block;
  text-align: center;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 12px;
}
.tabs .tabs__content.active .tabs__content-slider .tab-slider__el .btn {
  border-width: 2px;
  padding: 11px 0 10px;
  font-size: 20px;
}
.tabs .tabs__content.active .tabs__content-slider .owl-nav div {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  width: 18px;
  height: 28px;
  background: url("../img/sprite--arrow.png") no-repeat 0 0;
  cursor: pointer;
}
.tabs .tabs__content.active .tabs__content-slider .owl-nav div.owl-prev {
  left: -30px;
}
.tabs .tabs__content.active .tabs__content-slider .owl-nav div.owl-next {
  right: -30px;
  background: url("../img/sprite--arrow.png") no-repeat -18px 0;
}
.tabs .tabs__content.active.tabs__content-stock {
  padding-top: 146px;
}
.tabs .tabs__content.active.tabs__content-stock h2 {
  text-align: center;
}
.tabs .tabs__content.active.tabs__content-stock span {
  font-family: 'Pfdindisplaypro-thin', sans-serif;
  margin-top: 34px;
  font-size: 26px;
  display: block;
  text-align: center;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list {
  margin-top: 65px;
  margin-left: -30px;
}
@media (max-width: 1190px) {
  .tabs .tabs__content.active.tabs__content-stock .stock-list {
    text-align: center;
  }
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: 340px;
}
@media (max-width: 1190px) {
  .tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el {
    zoom: 0.8;
  }
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a {
  display: block;
  width: 350px;
  height: 340px;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a h3 {
  display: block;
  text-align: center;
  padding-top: 192px;
  margin-bottom: 15px;
  font-size: 25px;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a p {
  font-family: 'Pfdindisplaypro-med', sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a ul {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 15px;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a ul li {
  display: block;
  font-family: 'Pfdindisplaypro-med', sans-serif;
  font-size: 19px;
  line-height: 20px;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-1 {
  background: url("../img/img--action-1.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-2 {
  background: url("../img/img--action-2.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-3 {
  background: url("../img/img--action-3.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-4 {
  background: url("../img/img--action-4.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-5 {
  background: url("../img/img--action-5.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-6 {
  background: url("../img/img--action-6.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-7 {
  background: url("../img/img--action-7.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-8 {
  background: url("../img/img--action-8.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-stock .stock-list .stock-list__el a.stock-9 {
  background: url("../img/img--action-9.jpg") no-repeat 0 0;
}
.tabs .tabs__content.active.tabs__content-wedding .tabs__content-banner {
  background: url("../img/bg--red-wedding.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-diam .tabs__content-banner {
  background: url("../img/bg--red-diam.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-gold .tabs__content-banner {
  background: url("../img/bg--red-gold.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-silver .tabs__content-banner {
  background: url("../img/bg--red-silver.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-diam .tabs__content-banner {
  background: url("../img/bg--red-diam.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-set .tabs__content-banner {
  background: url("../img/bg--red-set.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-clock .tabs__content-banner {
  background: url("../img/bg--red-watch.jpg") no-repeat 50% 50%;
  background-size: cover !important;
  padding: 70px 0 50px;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el {
  position: relative !important;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el img {
  top: 12% !important;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el .tab-slider__el-title {
  display: inline-block !important;
  vertical-align: top !important;
  margin-top: 0 !important;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el .tab-slider__el-price {
  display: inline-block !important;
  vertical-align: top !important;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el .justifyed {
  position: absolute !important;
  bottom: 50px;
  left: 15px;
  right: 15px;
  margin-bottom: 10px;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el .justifyed span {
  min-height: 0 !important;
  margin-top: 0 !important;
}
.tabs .tabs__content.active.tabs__content-clock .tab-slider__el .btn {
  position: absolute !important;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list {
  display: block;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li {
  display: block;
  background-size: cover !important;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li .width-wrap {
  position: relative;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li .width-wrap div {
  display: inline-block;
  vertical-align: top;
  width: 410px;
  text-align: left;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li .width-wrap div span {
  display: block;
  font-size: 18px;
  font-family: 'Pfdindisplaypro-thin', sans-serif;
  margin-bottom: 10px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li .width-wrap div span strong {
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li .width-wrap div .btn {
  margin-top: 35px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li .width-wrap img {
  position: absolute;
  bottom: 0;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(1) {
  background: url("../img/img--tab-vip.jpg") no-repeat 50% 0;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(1) .width-wrap {
  padding: 166px 0 50px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(2) {
  background: url("../img/img--tab-vip2.jpg") no-repeat 50% 0;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(2) .width-wrap {
  padding: 56px 0 55px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(3) {
  background: url("../img/img--tab-vip3.jpg") no-repeat 50% 0;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(3) .width-wrap {
  padding: 56px 0 51px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(odd) {
  text-align: right;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(odd) img {
  left: 188px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(odd) .width-wrap div {
  margin-right: 65px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(even) {
  text-align: left;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(even) img {
  right: 168px;
}
.tabs .tabs__content.active.tabs__content-vip .vip-list li:nth-child(even) .width-wrap div {
  margin-left: 65px;
}
/* choice */
.choice {
  padding: 50px 0 57px;
  background: #ffffff;
}
.choice .width-wrap h2 {
  text-align: center;
  font-size: 38px;
  padding-bottom: 30px;
}
.choice .width-wrap h2 strong {
  display: inline-block;
  color: #000000;
}
.choice .width-wrap .choice-list {
  margin-left: -30px;
  margin-top: 55px;
  margin-bottom: 40px;
}
@media (max-width: 1190px) {
  .choice .width-wrap .choice-list {
    text-align: center;
  }
}
.choice .width-wrap .choice-list li {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 350px;
}
@media (max-width: 1190px) {
  .choice .width-wrap .choice-list li {
    text-align: left;
    width: 290px;
  }
}
.choice .width-wrap .choice-list li img {
  display: inline-block;
  vertical-align: middle;
  width: 86px;
  height: 86px;
  border-radius: 86px;
  margin-right: 13px;
}
.choice .width-wrap .choice-list li p {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Pfdindisplaypro-light', sans-serif;
  font-size: 20px;
  line-height: 18px;
  width: 245px;
  color: #000000;
}
.choice .year {
  background: url("../img/bg--20.png") no-repeat 50% 0;
  background-size: cover;
  padding: 66px 0 50px;
  text-align: center;
}
.choice .year img {
  display: block;
  margin: 0 auto 20px;
}
.choice .year span {
  display: block;
  text-align: center;
  font-size: 23px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  text-transform: uppercase;
}
/* individual */
.individual {
  background: #f0f0f0;
  overflow: hidden;
}
.individual .width-wrap {
  padding: 30px 0 34px;
  position: relative;
  text-align: right;
}
.individual .width-wrap img {
  position: absolute;
  bottom: 0;
  left: -82px;
  z-index: 3;
}
.individual .width-wrap div {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  position: relative;
  z-index: 5;
}
.individual .width-wrap div h2 {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
.individual .width-wrap div p {
  color: #ca0000;
  font-size: 26px;
  margin-bottom: 22px;
  display: block;
  text-align: center;
}
.individual .width-wrap div .main-form {
  background: #ffffff;
  border-color: #ebe3e3;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  margin-left: 0;
}
.individual .width-wrap div .main-form textarea {
  display: block;
  width: 257px;
  border: 2px solid #ebe3e3;
  padding: 10px;
  height: 80px;
  resize: none;
  line-height: 20px;
  margin-top: 7px;
}
/* partners */
.partners {
  text-align: center;
  padding: 72px 0 50px;
}
.partners h2 small {
  font-size: 38px;
  font-weight: bold;
}
.partners .partners-list {
  display: block;
  margin-top: 66px;
  position: relative;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 31px 0 25px;
}
.partners .partners-list:before {
  position: absolute;
  content: '';
  border-top: 4px solid #d7d7d7;
  left: 0;
  right: 0;
  top: -9px;
}
.partners .partners-list:after {
  position: absolute;
  content: '';
  border-top: 4px solid #d7d7d7;
  left: 0;
  right: 0;
  bottom: -9px;
}
/* contacts */
.contacts {
  padding: 66px 0 0;
  text-align: center;
}
.contacts .width-wrap {
  padding-bottom: 65px;
}
.contacts h2 {
  letter-spacing: 1px;
}
.contacts h2 strong {
  color: #000000;
}
.contacts .adress {
  margin-left: -30px;
  margin-top: 74px;
}
.contacts .adress li {
  margin-left: 30px;
  width: 540px;
  position: relative;
  text-align: left;
}
@media (max-width: 1190px) {
  .contacts .adress li {
    width: 450px;
  }
}
.contacts .adress li a,
.contacts .adress li span {
  padding-left: 130px;
  display: block;
  font-size: 18px;
  margin-top: 8px;
}
.contacts .adress li a strong,
.contacts .adress li span strong {
  font-weight: bold;
}
.contacts .adress li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 12px;
  width: 118px;
  height: 83px;
  background: url("../img/bg--diamond.png") no-repeat 0 0;
}
.contacts .adress li:after {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  width: 118px;
  height: 83px;
  text-align: center;
  line-height: 63px;
  left: 0;
  top: 12px;
  font-size: 34px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
}
.contacts .adress li:nth-child(1):after {
  content: "№1";
}
.contacts .adress li:nth-child(2):after {
  content: "№2";
}
.contacts .map {
  height: 605px;
}
/* footer */
.footer {
  position: relative;
  background: #ffffff;
  padding: 27px 0 10px;
}
.footer .footer--logo {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.footer .footer--logo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.footer .footer--logo span {
  display: inline-block;
  vertical-align: middle;
  color: #a9a2a2;
  font-size: 15px;
  font-family: 'Pfdindisplaypro-light', sans-serif;
}
.footer .footer--logo span strong {
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  display: block;
  font-size: 17px;
}
.footer .footer--contacts {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.footer .footer--contacts a,
.footer .footer--contacts span {
  display: block;
  color: #a9a2a2;
}
.footer .footer--contacts span {
  font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
  font-size: 13px;
}
.footer .footer--contacts span a {
  font-family: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
  font-size: 13px;
  display: inline;
}
.footer .footer--contacts span a:hover {
  text-decoration: underline;
}
.footer .footer--contacts a {
  font-family: 'Pfdindisplaypro-light', sans-serif;
  font-size: 19px;
  line-height: 20px;
}
.footer .social {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
}
.footer .social li {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}
.footer .social li a {
  width: 25px;
  height: 20px;
  display: block;
}
.footer .social li .social-vk {
  background: url("../img/sprite--social.png") no-repeat 0 0;
}
.footer .social li .social-fb {
  background: url("../img/sprite--social.png") no-repeat -62px 0;
}
.footer .social li .social-in {
  background: url("../img/sprite--social.png") no-repeat -130px 0;
}
/* popup-form */
.popup-form .main-form {
  position: relative;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: auto;
}
.popup-ok {
  width: 790px;
  height: 455px;
  background: url("../img/bg--thanks.jpg") no-repeat 50% 50%;
  background-size: cover !important;
}
.popup-ok .content {
  width: 330px;
  padding-top: 120px;
  padding-left: 415px;
}
.popup-ok .content h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}
.popup-ok .content span {
  display: block;
  text-align: center;
  font-family: 'Pfdindisplaypro-light', sans-serif;
  font-size: 20px;
  line-height: 18px;
  padding-bottom: 18px;
}
.popup-ok .content .btn {
  width: 285px;
  margin: 20px auto 0;
}
.lottery {
  background: url("../img/bg--snow.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 920px;
  padding: 35px 0;
  overflow: hidden;
  text-align: center;
}
.lottery h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
.lottery h2 small {
  font-size: 24px;
  line-height: 28px;
}
.lottery span {
  display: block;
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-family: 'Pfdindisplaypro-light', sans-serif;
  margin-bottom: 30px;
}
.lottery .justifyed {
  margin: 0 35px 30px;
}
.lottery img {
  border: 5px solid #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.lottery .org {
  margin: 72px 35px 30px;
}
.lottery .org .img {
  width: 270px;
}
.lottery .org .img span {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #000000;
  font-size: 16px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
}
.lottery .org .content {
  width: 540px;
  text-align: left;
}
.lottery .org .content .title {
  display: block;
  color: #000000;
  font-size: 24px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  margin-bottom: 18px;
  text-align: left;
  text-transform: uppercase;
}
.lottery .org .content ul li {
  display: block;
  margin-bottom: 15px;
  text-align: left;
}
.lottery .org .content ul li span {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 26px;
  height: 26px;
  background: #ca0000;
  line-height: 26px;
  margin-right: 5px;
  border-radius: 26px;
  margin-bottom: 0;
}
.lottery .org .content ul li p {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  font-size: 16px;
  color: #000000;
}
.lottery .org .content .red {
  text-align: left;
  display: block;
  color: #ca0000;
  font-size: 24px;
  font-family: 'Pfdindisplaypro-light', sans-serif;
}
.lottery .org .content .red strong {
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
}
.lottery .winner {
  padding-top: 55px;
  background: url("../img/bg--red-popup.jpg") no-repeat 50% 50%;
  background-size: cover;
  text-align: left;
}
.lottery .winner .justifyed {
  margin-bottom: 0;
}
.lottery .winner .img {
  width: 270px;
}
.lottery .winner .img span {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
}
.lottery .winner .content {
  width: 550px;
  text-align: left;
}
.lottery .winner .content span.title {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
  text-transform: none;
}
.lottery .winner .content p {
  margin-bottom: 20px;
  display: block;
}
.lottery .winner .content p i {
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-family: 'Pfdindisplaypro-light', sans-serif;
}
.lottery .winner .content span {
  display: block;
  text-align: left;
  color: #ffffff;
  font-family: 'Pfdindisplaypro-med', sans-serif;
  font-size: 20px;
}
.lottery .main-form {
  width: auto;
  display: block;
  background: none;
  border: none;
  margin-top: 22px;
}
.lottery .main-form h2 small {
  font-size: 28px;
}
.lottery .main-form .justifyed {
  margin: 80px 0 0;
}
.lottery .main-form .justifyed .input-submit,
.lottery .main-form .justifyed .form-input {
  display: inline-block;
  vertical-align: top;
}
.lottery .main-form .justifyed .form-input {
  width: 225px;
  margin-bottom: 0;
}
.lottery .main-form .justifyed .input-submit.btn {
  width: 210px;
  margin-top: -4px;
}
.act-form,
.discount-form {
  width: 730px;
  border: 5px solid #ebe3e3;
  padding: 25px;
  background: #ffffff;
}
.act-form .content,
.discount-form .content {
  position: relative;
  height: 390px;
  width: 380px;
}
.act-form .content h2,
.discount-form .content h2 {
  font-size: 39px;
  position: relative;
  z-index: 10;
  text-align: center;
}
.act-form .content h2 strong,
.discount-form .content h2 strong {
  font-size: 22px;
  display: block;
  color: #000000;
}
.act-form .content .img,
.discount-form .content .img {
  position: absolute;
  left: 50%;
  margin-left: -193px;
  height: 80%;
  top: 15%;
  z-index: 5;
}
.act-form .content .text,
.discount-form .content .text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.act-form .content .text ul li,
.discount-form .content .text ul li {
  display: block;
  text-align: left;
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
}
.act-form .content .text span,
.discount-form .content .text span {
  display: block;
  text-align: left;
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
  font-family: 'Pfdindisplaypro-light', sans-serif;
}
.act-form .content .text .red,
.discount-form .content .text .red {
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  color: #ca0000;
}
.act-form .main-form,
.discount-form .main-form {
  background: #ffffff;
  border: none;
}
.discount-form h2 {
  text-align: left;
}
.item-form {
  width: 730px;
  border: 5px solid #ebe3e3;
  padding: 25px;
  background: #ffffff;
}
.item-form .content {
  position: relative;
  width: 380px;
  text-align: center;
}
.item-form .content .img {
  display: block;
  margin: 30px auto ;
}
.item-form .content ul {
  display: block;
  text-align: left;
  margin: 0 40px 30px;
}
.item-form .content ul li {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000000;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
}
.item-form .content .name {
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.item-form .content .price {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  color: #ca0000;
  margin: 0 5px;
}
.item-form .content .old {
  display: inline-block;
  text-align: center;
  font-size: 34px;
  text-decoration: line-through;
  font-family: 'Pfdindisplaypro-reg', sans-serif;
  font-weight: bold;
  color: #000000;
  margin: 0 5px;
}
.item-form .main-form {
  background: #ffffff;
  border: none;
}
