/* fonts */

@font-face {
	font-family: 'Pfdindisplaypro-reg';
	src: url('../fonts/pfdindisplaypro-reg.eot');
	src: local('☺'), url('../fonts/pfdindisplaypro-reg.woff') format('woff'), url('../fonts/pfdindisplaypro-reg.ttf') format('truetype'), url('../fonts/pfdindisplaypro-reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pfdindisplaypro-reg';
	src: url('../fonts/pfdindisplaypro-bold.eot');
	src: local('☺'), url('../fonts/pfdindisplaypro-bold.woff') format('woff'), url('../fonts/pfdindisplaypro-bold.ttf') format('truetype'), url('../fonts/pfdindisplaypro-bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Pfdindisplaypro-light';
	src: url('../fonts/pfdindisplaypro-light.eot');
	src: local('☺'), url('../fonts/pfdindisplaypro-light.woff') format('woff'), url('../fonts/pfdindisplaypro-light.ttf') format('truetype'), url('../fonts/pfdindisplaypro-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Pfdindisplaypro-thin';
	src: url('../fonts/pfdindisplaypro-thin.eot');
	src: local('☺'), url('../fonts/pfdindisplaypro-thin.woff') format('woff'), url('../fonts/pfdindisplaypro-thin.ttf') format('truetype'), url('../fonts/pfdindisplaypro-thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pfdindisplaypro-med';
	src: url('../fonts/pfdindisplaypro-med.eot');
	src: local('☺'), url('../fonts/pfdindisplaypro-med.woff') format('woff'), url('../fonts/pfdindisplaypro-med.ttf') format('truetype'), url('../fonts/pfdindisplaypro-med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@netbook: ~"(max-width: 1190px)";

/* text */

a, span, p, li{
  font-family: @fDin;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

h2{
  display: block;
  color: @cRed;
  font-family: @fDin;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;

  small{
    display: block;
    color: #000000;
    font-family: @fDin-med;
    font-weight: normal;
    font-size: 28px;
    padding-top: 2px;
  }
}

h3{
  display: block;
  color: @cRed;
  font-family: @fDin;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
}

/* universal */

html, body{
  @media @netbook{
    min-width: 980px;
  }
}

.hidden-block{
  display: none;
}

.page-wrap{
  overflow: hidden;
  min-width: 1110px;

  @media @netbook{
    min-width: 980px;
  }
}

.width-wrap{
  width: 1110px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;

  @media @netbook{
    width: 940px;
    padding: 0 20px;
  }
}

.btn{
  background: transparent;
  color: @cRed;
  font-family: @fDin;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 12px 0 13px;
  cursor: pointer;
  border: 3px solid @cRed;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.btn:hover{
  color: #ffffff;
  background: @cRed;
}

.btn-white{
  background: #ffffff;
  color: @cRed;
  font-family: @fDin;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 12px 0 13px;
  cursor: pointer;
  border: 3px solid #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.main-form{
  position: absolute;
  z-index: 5;
  top: 107px;
  left: 50%;
  margin-left: 203px;
  border: 6px solid #ffffff;
  padding: 15px 25px;
  width: 287px;
  background: #ebe4e4;

  @media @netbook{
    left: auto;
    margin-left: 0;
    right: 20px;
  }

  h3{
    text-align: center;
  }

  span{
    display: block;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    font-size: 15px;
    padding: 2px 0 15px;
    margin-bottom: 10px;
  }

  .form-input{
    padding-left: 54px;
    width: 233px;
    border: 2px solid transparent;
    border-bottom: 2px solid @cRed;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    font-family: @fDin;
    color: #000000;
    outline: none;
    margin-bottom: 23px;
  }

  .form-input::-webkit-input-placeholder{
    font-size: 15px;
    font-family: @fDin;
    color: #000000;
  }
  .form-input::-moz-placeholder{
    font-size: 15px;
    font-family: @fDin;
    color: #000000;
  }
  .form-input:-moz-placeholder{
    font-size: 15px;
    font-family: @fDin;
    color: #000000;
  }
  .form-input:-ms-input-placeholder{
    font-size: 15px;
    font-family: @fDin;
    color: #000000;
  }

  .form-input:focus::-webkit-input-placeholder {color: transparent}
  .form-input:focus::-moz-placeholder          {color: transparent}
  .form-input:focus:-moz-placeholder           {color: transparent}
  .form-input:focus:-ms-input-placeholder      {color: transparent}

  
  .input-type{background: transparent url("../img/icon--jew.png") no-repeat 13px 50%;}
  .input-name{background: transparent url("../img/icon--name.png") no-repeat 13px 50%;}
  .input-phone{background: transparent url("../img/icon--phone.png") no-repeat 13px 50%;}

  .btn{
    margin-top: 6px;
  }
}

/* variable */

@cRed: #ca0000;
@cGray: #eeeeee;
@fTimes: "Times New Roman", "Times", "Nimbus Roman No9", serif;
@fArial: "Arial", "Helvetica", "Nimbus Sans L", sans-serif;
@fDin: 'Pfdindisplaypro-reg', sans-serif;
@fDin-thin: 'Pfdindisplaypro-thin', sans-serif;
@fDin-med: 'Pfdindisplaypro-med', sans-serif;
@fDin-light: 'Pfdindisplaypro-light', sans-serif;



/* nav */

.nav{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-width: 1110px;
  background: #ffffff;
  z-index: 10;

  @media @netbook{
    min-width: 980px;
  }

  .main-nav{
    li{
      display: inline-block;
      vertical-align: top;

      a{
        display: block;
        height: 47px;
        line-height: 47px;
        font-family: @fTimes;
        font-size: 13px;
        color: #a4a1a1;
        text-transform: uppercase;
      }

      a.active{
        color: @cRed;
      }
    }
  }
}

/* header */

.header{
  background: url("../img/bg--header.jpg") no-repeat 50% 50%;
  padding: 7px 0;
  margin-top: 47px;

  .width-wrap{
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;

    div{
      width: 350px;
    }

    div, img{
      display: inline-block;

      a, span, div{
        display: block;
        color: #ffffff;
        font-family: @fArial;
        font-size: 22px;
        line-height: 24px;
      }
    }

    .header--phone{
      a{
        font-size: 24px;
        display: inline-block;
      }
    }

    .header--adress{
      text-align: right;
    }
  }
}

/* slider */

.slider{
  position: relative;
  height: 590px;

  .slider-block{
    height: 590px;
    width: 100%;

    .slider__el{
      height: 590px;
      background-size: cover !important;

      .width-wrap{
        padding-top: 138px;

        h2{
          line-height: 40px;
        }

        span{
          display: block;
          margin-bottom: 30px;
          font-family: @fDin-med;
          text-transform: uppercase;
          font-size: 26px;
          line-height: 30px;
        }

        p{
          display: block;
          font-family: @fDin-thin;
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 30px;
        }

        ul{
          display: inline-block;
          vertical-align: top;
          margin-right: 30px;

          li{
            display: block;
            font-family: @fDin;
            font-size: 18px;
            line-height: 24px;
            font-weight: bold;

            strong{
              color: @cRed;
            }
          }
        }

        ul.red{
          li{
            color: @cRed !important;
            font-weight: normal;

            strong{
              font-weight: bold;
            }
          }
        }
      }
    }

    .owl-nav{
      position: absolute;
      bottom: 139px;
      left: 50%;
      margin-left: -555px;
      z-index: 5;

      div{
        display: inline-block;
        margin-right: 22px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 3px solid @cRed;
        cursor: pointer;
      }

      .owl-prev{
        background: url("../img/icon--left.png") no-repeat 9px 50%;
      }
      .owl-next{
        background: url("../img/icon--right.png") no-repeat 13px 50%;
      }
    }

    .owl-dots{
      position: absolute;
      bottom: 156px;
      left: 50%;
      margin-left: -320px;
      white-space: nowrap;
      z-index: 5;

      .owl-dot{
        display: inline-block;
        vertical-align: top;
        width: 13px;
        height: 13px;
        border-radius: 13px;
        margin: 0 10px;
        background: #ffffff;
        cursor: pointer;
      }

      .owl-dot.active{
        background: @cRed;
      }
    }
  }

  .slider-counter{
    position: absolute;
    bottom: 150px;
    left: 50%;
    margin-left: -405px;
    font-size: 30px;
    line-height: 30px;
    font-family: @fDin-med;
    z-index: 5;
  }
}

/* tabs */

.tabs{
  position: relative;

  .tabs__caption{
    position: absolute;
    left: 50%;
    width: 1110px;
    margin-left: -555px;
    top: 59px;
    display: table;
    border-radius: 15px;
    z-index: 5;

    @media @netbook {
      width: 100%;
      left: 10px;
      right: 10px;
      margin-left: 0;
    }

    li{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      border-right: 2px solid #ffffff;
      background: @cGray;
      color: @cRed;
      height: 38px;
      cursor: pointer;
      min-width: 70px;
      font-size: 14px;
      font-family: @fTimes;
      text-transform: uppercase;
      padding-top: 1px;
    }

    li:first-child{
      border-radius:  20px 0 0 20px;
    }

    li:last-child{
      border-radius: 0 20px 20px 0;
      border-right: none;
    }

    li.active{
      background: @cRed;
      color: #ffffff;
    }
  }

  .tabs__content{
    position: absolute;
    left: -9999999px;
  }

  .tabs__content.active{
    position: relative;
    left: 0;

    .tabs__content-content{
      padding-top: 187px;
      padding-bottom: 90px;
      background-size: cover !important;

      .main-form{
        border-color: @cGray;
        background: #ffffff;
        position: relative;
        margin-left: 0;
        left: auto;
        display: inline-block;
        vertical-align: top;
        top: auto;

        h3{
          border-bottom:  2px solid @cGray;
          padding-bottom: 15px;
          margin-bottom: 22px;
        }
      }

      .text{
        display: inline-block;
        vertical-align: top;
        width: 380px;
        padding-top: 62px;

        h2{
          padding-bottom: 34px;
        }

        p{
          font-family: @fDin-thin;
          font-size: 26px;
          line-height: 28px;
        }

        span.old-price,
        span.new-price{
          display: inline-block;
          vertical-align: top;
          margin-top: 30px;
          margin-right: 5px;
          line-height: 36px;
        }

        span.old-price{
          font-size: 28px;
          font-family: @fDin;
          text-decoration: line-through;
        }

        span.new-price{
          color: @cRed;
          font-family: @fDin;
          font-weight: bold;
          font-size: 34px;
        }
      }
    }

    .tabs__content-banner{
      padding: 108px 0 115px;

      .text{
        display: inline-block;
        vertical-align: top;
        width: 665px;

        span{
          display: block;
          margin-bottom: 33px;
          color: #ffffff;
          font-size: 34px;
          line-height: 28px;
          font-family: @fDin-light;

          strong{
            font-family: @fDin;
            font-weight: bold;
            font-size: 34px;
          }
        }

        span:last-child{
          margin-bottom: 0;
        }

        ul{
          display: block;

          li{
            display: block;
            padding-left: 60px;
            color: #ffffff;
            font-size: 30px;
            line-height: 28px;
            font-family: @fDin-light;
            margin-bottom: 30px;
            position: relative;
          }

          li:before{
            position: absolute;
            width: 42px;
            height: 42px;
            border-radius: 42px;
            background: #ffffff;
            text-align: center;
            line-height: 38px;
            content: "+";
            color: @cRed;
            font-size: 40px;
            left: 0;
            top: 50%;
            margin-top: -21px;
          }
        }

      }
      .btn-wrap{
        display: inline-block;
        vertical-align: top;
        width: 285px;
        margin-right: 95px;
      }

    }

    .tabs__content-slider{
      background: @cGray;
      padding: 60px 0;

      .tab-slider__el{
        width: 225px;
        display: block;
        height: 335px;
        background: #ffffff;
        text-align: center;
        position: relative;
        padding: 15px;

        .tab-slider__el-article{
          display: block;
          text-align: center;
          font-family: @fDin-light;
          font-size: 20px;
          color: #e2d6d6;
        }

        img{
          position: absolute;
          width: 50%;
          top: 22%;
          left: 50%;
          margin-left: -25%;
          display: block;
          z-index: 3;
        }

        .tab-slider__el-title{
          margin-top: 188px;
          display: block;
          text-align: center;
          font-family: 'Pfdindisplaypro-thin', sans-serif;
          text-transform: uppercase;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 7px;
          min-height: 42px;
          position: relative;
          z-index: 5;
        }

        .tab-slider__el-price{
          display: block;
          text-align: center;
          font-family:  @fDin;
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 12px;
        }

        .btn{
          border-width: 2px;
          padding: 11px 0 10px;
          font-size: 20px;
        }
      }

      .owl-nav div{
        position: absolute;
        top: 50%;
        margin-top: -14px;
        width: 18px;
        height: 28px;
        background: url("../img/sprite--arrow.png") no-repeat 0 0;
        cursor: pointer;
      }

      .owl-nav div.owl-prev{
        left: -30px;
      }

      .owl-nav div.owl-next{
        right: -30px;
        background: url("../img/sprite--arrow.png") no-repeat -18px 0;
      }
    }
  }

  .tabs__content.active.tabs__content-stock{
    padding-top: 146px;

    h2{
      text-align: center;
    }

    span{
      font-family: @fDin-thin;
      margin-top: 34px;
      font-size: 26px;
      display: block;
      text-align: center;
    }

    .stock-list{
      margin-top: 65px;
      margin-left: -30px;

      @media @netbook{
          text-align: center;
        }


      .stock-list__el{
        margin-left: 30px;
        margin-bottom: 30px;
        width: 350px;
        height: 340px;

        @media @netbook{
          zoom: 0.8;
        }

        a{
          display: block;
          width: 350px;
          height: 340px;

          h3{
            display: block;
            text-align: center;
            padding-top: 192px;
            margin-bottom: 15px;
            font-size: 25px;
          }

          p{
            font-family: @fDin-med;
            font-size: 20px;
            line-height: 20px;
            display: block;
            text-align: center;
          }


          ul{
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            margin-right: 15px;

            li{
              display: block;
              font-family: @fDin-med;
              font-size: 19px;
              line-height: 20px;
            }
          }
        }
        
        a.stock-1{background: url("../img/img--action-1.jpg") no-repeat 0 0}
        a.stock-2{background: url("../img/img--action-2.jpg") no-repeat 0 0}
        a.stock-3{background: url("../img/img--action-3.jpg") no-repeat 0 0}
        a.stock-4{background: url("../img/img--action-4.jpg") no-repeat 0 0}
        a.stock-5{background: url("../img/img--action-5.jpg") no-repeat 0 0}
        a.stock-6{background: url("../img/img--action-6.jpg") no-repeat 0 0}
        a.stock-7{background: url("../img/img--action-7.jpg") no-repeat 0 0}
        a.stock-8{background: url("../img/img--action-8.jpg") no-repeat 0 0}
        a.stock-9{background: url("../img/img--action-9.jpg") no-repeat 0 0}

      }
    }
  }
  .tabs__content.active.tabs__content-wedding{
    .tabs__content-banner{
      background: url("../img/bg--red-wedding.jpg") no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
  .tabs__content.active.tabs__content-diam{
    .tabs__content-banner{
      background: url("../img/bg--red-diam.jpg") no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
  .tabs__content.active.tabs__content-gold{
    .tabs__content-banner{
      background: url("../img/bg--red-gold.jpg") no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
  .tabs__content.active.tabs__content-silver{
    .tabs__content-banner{
      background: url("../img/bg--red-silver.jpg") no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
  .tabs__content.active.tabs__content-diam{
    .tabs__content-banner{
      background: url("../img/bg--red-diam.jpg") no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
  .tabs__content.active.tabs__content-set{
    .tabs__content-banner{
      background: url("../img/bg--red-set.jpg") no-repeat 50% 50%;
      background-size: cover !important;
    }
  }
  .tabs__content.active.tabs__content-clock{

    .tabs__content-banner{
      background: url("../img/bg--red-watch.jpg") no-repeat 50% 50%;
      background-size: cover !important;
      padding: 70px 0 50px;
    }


    .tab-slider__el{
      position: relative !important;

      img{
        top: 12% !important;
      }

      .tab-slider__el-title{
        display: inline-block !important;
        vertical-align: top !important;
        margin-top: 0 !important;
      }

      .tab-slider__el-price{
        display: inline-block !important;
        vertical-align: top !important;
      }

      .justifyed{
        position: absolute !important;
        bottom: 50px;
        left: 15px;
        right: 15px;
        margin-bottom: 10px;

        span{
          min-height: 0 !important;
          margin-top: 0 !important;
        }
      }

      .btn{
        position: absolute !important;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
    }
  }
  .tabs__content.active.tabs__content-vip{
    .vip-list{
      display: block;

      li{
        display: block;
        background-size: cover !important;

        .width-wrap{
          position: relative;

          div{
            display: inline-block;
            vertical-align: top;
            width: 410px;
            text-align: left;

            span{
              display: block;
              font-size: 18px;
              font-family: @fDin-thin;
              margin-bottom: 10px;

              strong{
                font-family: @fDin;
                font-weight: bold;
              }
            }

            .btn{
              margin-top: 35px;
            }
          }

          img{
            position: absolute;
            bottom: 0;
          }
        }
      }
      
      li:nth-child(1){
        background: url("../img/img--tab-vip.jpg") no-repeat 50% 0;

        .width-wrap{
          padding: 166px 0 50px;
        }
      }

      li:nth-child(2){
        background: url("../img/img--tab-vip2.jpg") no-repeat 50% 0;

        .width-wrap{
          padding: 56px 0 55px;
        }
      }

      li:nth-child(3){
        background: url("../img/img--tab-vip3.jpg") no-repeat 50% 0;

        .width-wrap{
          padding: 56px 0 51px;
        }
      }

      li:nth-child(odd){
        text-align: right;

        img{
          left: 188px
        }

        .width-wrap{
          div{
            margin-right: 65px
          }
        }
      }

      li:nth-child(even){
        text-align: left;

        img{
          right: 168px
        }

        .width-wrap{
          div{
            margin-left: 65px
          }
        }
      }
    }
  }
}

/* choice */

.choice{
  padding: 50px 0 57px;
  background: #ffffff;

  .width-wrap{

    h2{
      text-align: center;
      font-size: 38px;
      padding-bottom: 30px;

      strong{
        display: inline-block;
        color: #000000;
      }
    }

    .choice-list{
      margin-left: -30px;
      margin-top: 55px;
      margin-bottom: 40px;
      
      @media @netbook {
        text-align: center;
      }

      li{
        display: inline-block;
        vertical-align: top;
        margin-left: 30px;
        width: 350px;

        @media @netbook {
          text-align: left;
          width: 290px;
        }

        img{
          display: inline-block;
          vertical-align: middle;
          width: 86px;
          height: 86px;
          border-radius: 86px;
          margin-right: 13px;
        }

        p{
          display: inline-block;
          vertical-align: middle;
          font-family: @fDin-light;
          font-size: 20px;
          line-height: 18px;
          width: 245px;
          color: #000000;
        }
      }
    }
  }

  .year{
    background: url("../img/bg--20.png") no-repeat 50% 0;
    background-size: cover;
    padding: 66px 0 50px;
    text-align: center;

    img{
      display: block;
      margin: 0 auto 20px;
    }

    span{
      display: block;
      text-align: center;
      font-size: 23px;
      font-family: @fDin;
      text-transform: uppercase;
    }
  }
}

/* individual */

.individual{
  background: #f0f0f0;
  overflow: hidden;

  .width-wrap{
    padding: 30px 0 34px;
    position: relative;
    text-align: right;


    img{
      position: absolute;
      bottom: 0;
      left: -82px;
      z-index: 3;
    }

    div{
      display: inline-block;
      vertical-align: top;
      width: 350px;
      position: relative;
      z-index: 5;

      h2{
        margin-bottom: 10px;
        display: block;
        text-align: center;
      }

      p{
        color: @cRed;
        font-size: 26px;
        margin-bottom: 22px;
        display: block;
        text-align: center;
      }

      .main-form{
        background: #ffffff;
        border-color: #ebe3e3;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        margin-left: 0;

        textarea{
          display: block;
          width: 257px;
          border: 2px solid #ebe3e3;
          padding: 10px;
          height: 80px;
          resize: none;
          line-height: 20px;
          margin-top: 7px;
        }
      }

    }
  }
}

/* partners */

.partners{
  text-align: center;
  padding: 72px 0 50px;

  h2 small{
    font-size: 38px;
    font-weight: bold;
  }

  .partners-list{
    display: block;
    margin-top: 66px;
    position: relative;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 31px 0 25px;
  }

  .partners-list:before{
    position: absolute;
    content: '';
    border-top: 4px solid #d7d7d7;
    left: 0;
    right: 0;
    top: -9px
  }

  .partners-list:after{
    position: absolute;
    content: '';
    border-top: 4px solid #d7d7d7;
    left: 0;
    right: 0;
    bottom: -9px
  }
}

/* contacts */

.contacts{
  padding: 66px 0 0;
  text-align: center;

  .width-wrap{
    padding-bottom: 65px;
  }

  h2{
    letter-spacing: 1px;

    strong{
      color: #000000;
    }
  }

  .adress{
    margin-left: -30px;
    margin-top: 74px;

    li{
      margin-left: 30px;
      width: 540px;
      position: relative;
      text-align: left;

      @media @netbook {
        width: 450px;
      }

      a,
      span{
        padding-left: 130px;
        display: block;
        font-size: 18px;
        margin-top: 8px;

        strong{
          font-weight: bold;
        }
      }
    }

    li:before{
      position: absolute;
      content: '';
      left: 0;
      top: 12px;
      width: 118px;
      height: 83px;
      background: url("../img/bg--diamond.png") no-repeat 0 0;
    }

    li:after{
      position: absolute;
      z-index: 2;
      color: #ffffff;
      width: 118px;
      height: 83px;
      text-align: center;
      line-height: 63px;
      left: 0;
      top: 12px;
      font-size: 34px;
      font-family: @fDin;
      font-weight: bold;
    }

    li:nth-child(1):after{content:"№1"}
    li:nth-child(2):after{content:"№2"}
  }

  .map{
    height: 605px;
  }
}

/* footer */

.footer{
  position: relative;
  background: #ffffff;
  padding: 27px 0 10px;

  .footer--logo{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    img{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }

    span{
      display: inline-block;
      vertical-align: middle;
      color: #a9a2a2;
      font-size: 15px;
      font-family: @fDin-light;

      strong{
        font-family: @fDin;
        font-weight: bold;
        display: block;
        font-size: 17px;
      }
    }
  }

  .footer--contacts{
    display: inline-block;
    vertical-align: top;
    text-align: left;

    a, span{
      display: block;
      color: #a9a2a2;
    }

    span{
      font-family: @fArial;
      font-size: 13px;

      a{
        font-family: @fArial;
        font-size: 13px;
        display: inline;
      }

      a:hover{
        text-decoration: underline;
      }
    }

    a{
      font-family: @fDin-light;
      font-size: 19px;
      line-height: 20px;
    }
  }

  .social{
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;

    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 20px;

      a{
        width: 25px;
        height: 20px;
        display: block;
      }

      .social-vk{background: url("../img/sprite--social.png") no-repeat 0 0}
      .social-fb{background: url("../img/sprite--social.png") no-repeat -62px 0}
      .social-in{background: url("../img/sprite--social.png") no-repeat -130px 0}
    }
  }
}

/* popup-form */

.popup-form{

  .main-form{
    position: relative;
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left:auto;
  }
}

.popup-ok{
  width: 790px;
  height: 455px;
  background: url("../img/bg--thanks.jpg") no-repeat 50% 50%;
  background-size: cover !important;

  .content{
    width: 330px;
    padding-top: 120px;
    padding-left: 415px;

    h2{
      text-align: center;
      font-size: 24px;
      margin-bottom: 5px;
    }

    span{
      display: block;
      text-align: center;
      font-family: @fDin-light;
      font-size: 20px;
      line-height: 18px;
      padding-bottom: 18px;
    }

    .btn{
      width: 285px;
      margin: 20px auto 0;
    }
  }
}

.lottery{
  background: url("../img/bg--snow.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 920px;
  padding: 35px 0;
  overflow: hidden;
  text-align: center;

  h2{
    font-size: 36px;
    margin-bottom: 30px;

    small{
      font-size: 24px;
      line-height: 28px;
    }
  }

  span{
    display: block;
    text-align: center;
    color: #000000;
    font-size: 22px;
    font-family: @fDin-light;
    margin-bottom: 30px;
  }

  .justifyed{
    margin: 0 35px 30px;
  }

  img{
    border: 5px solid #ffffff;
    box-shadow:  0 0 3px rgba(0,0,0,0.2);
  }

  .org{
    margin: 72px 35px 30px;

    .img{
      width: 270px;

      span{
        display: block;
        text-align: center;
        margin-top: 30px;
        color: #000000;
        font-size: 16px;
        font-family: @fDin;
        font-weight: bold;
      }
    }

    .content{
      width: 540px;
      text-align: left;

      .title{
        display: block;
        color: #000000;
        font-size: 24px;
        font-family: @fDin;
        font-weight: bold;
        margin-bottom: 18px;
        text-align: left;
        text-transform: uppercase;
      }

      ul{
        li{
          display: block;
          margin-bottom: 15px;
          text-align: left;

          span{
            display: inline-block;
            vertical-align: top;
            color: #ffffff;
            font-size: 18px;
            font-family: @fDin;
            font-weight: bold;
            text-align: center;
            width: 26px;
            height: 26px;
            background: @cRed;
            line-height: 26px;
            margin-right: 5px;
            border-radius:  26px;
            margin-bottom: 0;
          }

          p{
            display: inline-block;
            vertical-align: top;
            width: 500px;
            font-size: 16px;
            color: #000000;
          }
        }
      }

      .red{
        text-align: left;
        display: block;
        color: @cRed;
        font-size: 24px;
        font-family: @fDin-light;

        strong{
          font-family: @fDin;
          font-weight: bold;
        }
      }
    }
  }

  .winner{
    padding-top: 55px;
    background: url("../img/bg--red-popup.jpg") no-repeat 50% 50%;
    background-size: cover;
    text-align: left;

    .justifyed{
      margin-bottom: 0;
    }

    .img{
      width: 270px;

      span{
        display: block;
        text-align: center;
        margin-top: 30px;
        color: #ffffff;
        font-size: 16px;
        font-family: @fDin;
        font-weight: bold;
      }
    }

    .content {
      width: 550px;
      text-align: left;

      span.title {
        display: block;
        color: #ffffff;
        font-size: 24px;
        font-family: @fDin;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: left;
        text-transform: none;
      }

      p{
        margin-bottom: 20px;
        display: block;

        i{
          font-style: italic;
          font-size: 16px;
          line-height: 18px;
          color: #ffffff;
          font-family: @fDin-light;
        }
      }

      span{
        display: block;
        text-align: left;
        color: #ffffff;
        font-family: @fDin-med;
        font-size: 20px;
      }
    }
  }

  .main-form{
    width: auto;
    display: block;
    background: none;
    border: none;
    margin-top: 22px;

    h2{
      small{
        font-size: 28px;
      }
    }

    .justifyed{
      margin: 80px 0 0;

      .input-submit,
      .form-input{
        display: inline-block;
        vertical-align: top;
      }
      .form-input{
        width: 225px;
        margin-bottom: 0;
      }
      .input-submit.btn{
        width: 210px;
        margin-top: -4px;
      }
    }
  }
}

.act-form,
.discount-form{
  width: 730px;
  border: 5px solid #ebe3e3;
  padding: 25px;
  background: #ffffff;

  .content{
    position: relative;
    height: 390px;
    width: 380px;

    h2{
      font-size: 39px;
      position: relative;
      z-index: 10;
      text-align: center;

      strong{
        font-size: 22px;
        display: block;
        color: #000000;
      }
    }

    .img{
      position: absolute;
      left: 50%;
      margin-left: -193px;
      height: 80%;
      top: 15%;
      z-index: 5;

    }

    .text{
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;

      ul{
        li{
          display: block;
          text-align: left;
          font-size: 20px;
          color: #000000;
          margin-bottom: 5px;
          font-family: @fDin;
          font-weight: bold;
        }
      }

      span{
        display: block;
        text-align: left;
        font-size: 20px;
        color: #000000;
        margin-bottom: 5px;
        font-family: @fDin-light;

      }
      .red{
        font-family: @fDin;
        font-weight: bold;
        color: @cRed;
      }
    }
  }

  .main-form{
    background: #ffffff;
    border: none
  }
}

.discount-form{
  h2{
    text-align: left;
  }
}

.item-form{
  width: 730px;
  border: 5px solid #ebe3e3;
  padding: 25px;
  background: #ffffff;

  .content{
    position: relative;
    width: 380px;
    text-align: center;

    .img{
      display: block;
      margin: 30px auto ;
    }

    ul{
      display: block;
      text-align: left;
      margin: 0 40px 30px;

      li{
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-size: 16px;
        color: #000000;
        font-family: @fDin;
      }
    }

    .name{
      display: block;
      text-align: center;
      font-size: 24px;
      font-family: @fDin;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .price{
      display: inline-block;
      text-align: center;
      font-size: 36px;
      font-family: @fDin;
      font-weight: bold;
      color: @cRed;
      margin: 0 5px;
    }

    .old{
      display: inline-block;
      text-align: center;
      font-size: 34px;
      text-decoration: line-through;
      font-family: @fDin;
      font-weight: bold;
      color: #000000;
      margin: 0 5px;
    }

  }

  .main-form{
    background: #ffffff;
    border: none
  }
}